In [190]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [191]:
line_break = ("=====================================================================================================================")

In [192]:
data = [[12000,6],[30000,7],[15000,4],[22000,5]]

In [193]:
MinMax_Scaler = MinMaxScaler()
model = MinMax_Scaler.fit(data)

scales_data = model.transform(data)

print(scales_data)

[[0.         0.66666667]
 [1.         1.        ]
 [0.16666667 0.        ]
 [0.55555556 0.33333333]]

In [194]:
st = StandardScaler()
model = st.fit(data)

Standard_scales_data = model.transform(data)

print(Standard_scales_data)

[[-1.11643773  0.4472136 ]
 [ 1.47657893  1.34164079]
 [-0.68426829 -1.34164079]
 [ 0.32412708 -0.4472136 ]]

In [195]:
hrt = pd.read_csv('C:/Users/kakan/Documents/GitHub/Edubridge/EDA/heart/heart.csv')

In [196]:
hrt.isna().sum()

Age               4
Sex               3
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [197]:
hrt['Age'].fillna(np.mean(hrt['Age']), inplace=True)

C:\Users\kakan\AppData\Local\Temp\ipykernel_7892\3641409569.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hrt['Age'].fillna(np.mean(hrt['Age']), inplace=True)

In [198]:
hrt['Sex'].value_counts()

Sex
M    723
F    192
Name: count, dtype: int64

In [199]:
hrt['Sex'].fillna("M", inplace=True)

C:\Users\kakan\AppData\Local\Temp\ipykernel_7892\3303509909.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hrt['Sex'].fillna("M", inplace=True)

In [200]:
hrt = pd.get_dummies(hrt, columns=['Sex'],dtype= int)

In [201]:
hrt.columns

Index(['Age', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease', 'Sex_F', 'Sex_M'],
      dtype='object')

In [202]:
hrt.drop('Sex_M', inplace=True, axis=1)

In [203]:
hrt.columns

Index(['Age', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease', 'Sex_F'],
      dtype='object')

In [204]:
hrt = hrt.rename(columns={'Sex_F': 'Gender'})

In [205]:
hrt.columns

Index(['Age', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease', 'Gender'],
      dtype='object')

In [206]:
val = hrt['ChestPainType'].unique()

In [207]:
df = pd.read_csv('titanic.csv')

In [208]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [209]:
df['Age'].fillna(np.mean((df['Age'])), inplace=True)

C:\Users\kakan\AppData\Local\Temp\ipykernel_7892\1424371392.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(np.mean((df['Age'])), inplace=True)

In [210]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [211]:
print(df.columns)
print(line_break)


df['Embarked'].value_counts()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
=====================================================================================================================

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [212]:
df['Embarked'].fillna('S',inplace=True)

C:\Users\kakan\AppData\Local\Temp\ipykernel_7892\3895404187.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna('S',inplace=True)

In [213]:
df['Embarked'].value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [214]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [215]:
df.drop('Cabin', inplace=True, axis=1)
df.drop('Name', inplace=True, axis=1)
df.drop('PassengerId', inplace=True, axis=1)
df.drop('Ticket', inplace=True, axis=1)

In [216]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [217]:
df = pd.get_dummies(df, columns=['Sex'],dtype= int)

In [218]:
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,Sex_female,Sex_male
0,0,3,22.0,1,0,7.2500,S,0,1
1,1,1,38.0,1,0,71.2833,C,1,0
2,1,3,26.0,0,0,7.9250,S,1,0
3,1,1,35.0,1,0,53.1000,S,1,0
4,0,3,35.0,0,0,8.0500,S,0,1

In [219]:
df.drop('Sex_male', inplace=True, axis=1)

In [220]:
df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare Embarked  Sex_female
0         0       3  22.0      1      0   7.2500        S           0
1         1       1  38.0      1      0  71.2833        C           1
2         1       3  26.0      0      0   7.9250        S           1
3         1       1  35.0      1      0  53.1000        S           1
4         0       3  35.0      0      0   8.0500        S           0

In [221]:
df.rename(columns={'Sex_female':'Gender'})

     Survived  Pclass        Age  SibSp  Parch     Fare Embarked  Gender
0           0       3  22.000000      1      0   7.2500        S       0
1           1       1  38.000000      1      0  71.2833        C       1
2           1       3  26.000000      0      0   7.9250        S       1
3           1       1  35.000000      1      0  53.1000        S       1
4           0       3  35.000000      0      0   8.0500        S       0
..        ...     ...        ...    ...    ...      ...      ...     ...
886         0       2  27.000000      0      0  13.0000        S       0
887         1       1  19.000000      0      0  30.0000        S       1
888         0       3  29.699118      1      2  23.4500        S       1
889         1       1  26.000000      0      0  30.0000        C       0
890         0       3  32.000000      0      0   7.7500        Q       0

[891 rows x 8 columns]

In [222]:
#hrt = pd.get_dummies(hrt, columns=['ST_Slope'] dtype=int)
hrt = pd.get_dummies(hrt, columns=['ST_Slope'], dtype=int)

In [223]:
df.columns

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked',
       'Sex_female'],
      dtype='object')

In [224]:
X = df.drop('Survived', axis= 1)
y = df['Survived']

In [225]:
from sklearn.model_selection import train_test_split

In [227]:
x_train,x_test,y_train,y_test = train_test_split(X,y, test_size=0.25)

In [230]:
print(x_train.shape)
print(x_test.shape)

print(y_train.shape)
print(y_test.shape)

(668, 7)
(223, 7)
(668,)
(223,)